/* Simple style reset */
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  list-style: none;
  vertical-align: middle;
}

/* Dragula styles */
.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}

.gu-hide {
  display: none !important;
}

.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}

/* App will be used within iFrame, so take whole DOM */
body {
  width: 100vw;
  height: 100vh;
  background-color: #E3E3E3;
}

.visual-html-editor {
  height: 100%;
  width: 100%;
}

.blocks-toolbox {
  width: 15%;
  height: 100%;
  display: inline-block;
  border-right: 1px solid white;
  background-color: #F5F5F5;
  text-align: center;
}

.html-editor {
  height: 100%;
  width: 60%;
  display: inline-block;
}

.webpage-previewer {
  width: calc(25% - 0.5em);
  height: 100%;
  display: inline-block;
}

/* Line count styles */
.line-numbers-on {
  display: inline-block;
  padding: 0.6em;
  height: 100%;
  width: calc(100% - 2.5em);
  font-size: 1em;
  line-height: 1.5;
  font-family: "Monaco", monospace;
  resize: none;
  word-break: break-all;
  overflow-wrap: normal;
  overflow-x: auto;
  white-space: pre;
}

.line-numbers-wrapper {
  width: 2em;
  padding: 0.7em 0.3em 2em;
  height: 100%;
  word-break: break-all;
  overflow: hidden;
  display: inline-block;
  counter-reset: line-count;
}

.line-numbers-wrapper-line {
  width: 100%;
  display: block;
  text-align: right;
  line-height: 1.5;
  font-size: 1em;
  color: black;
}

.line-numbers-wrapper-line::before {
  counter-increment: line-count;
  content: counter(line-count);
  font-size: 1em;
}